Animated Transition Demo.xcodeproj/project.xcworkspace/xcuserdata/joshuasullivan.xcuserdatad/WorkspaceSettings.xcsettings
Animated Transition Demo.xcodeproj/xcuserdata/joshuasullivan.xcuserdatad/xcdebugger/Breakpoints_v2.xcbkptlist
